### TAREA - Integración montecarlo

1. Realizar las siguientes integrales. Poner los resultados en una tabla cuyas filas correspondan a la cantidad de términos utilizados en la aproximación (usar 10, 100, 1000, 10000 y 100000 términos) y cuyas columnas correspondan a las funciones.
    + $\int_{1}^{3} e^{x}\log(x)\text{d}x$.
    + $\int_1^3 \sin(x)\ln(x) \text{d}x$

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
def f1(x):
    return np.exp(x)*np.log(x)

In [63]:
def f2(x):
    return np.sin(x)*np.log(x)

In [64]:
def montecarlo(f,a,b,N):
    u=np.random.uniform(a,b,size=N)
    A=np.mean(f(u))*(b-a)
    return A

In [65]:
N=np.logspace(1,5,5)
tabla=pd.DataFrame(columns=['f1','f2'],index=N)
tabla

           f1   f2
10.0      NaN  NaN
100.0     NaN  NaN
1000.0    NaN  NaN
10000.0   NaN  NaN
100000.0  NaN  NaN

In [66]:
for n in N:
    tabla.loc[n,'f1']=montecarlo(f1,1,3,int(n))
    tabla.loc[n,'f2']=montecarlo(f2,1,3,int(n))
tabla

               f1        f2
10.0      15.0493  0.817291
100.0     12.7741  0.849466
1000.0    13.7527   0.86149
10000.0   14.2135  0.864218
100000.0  14.0239  0.871583

2. Aproximar el área de la región descrita por

$$x^2+2y^2\leq-2x+8y-7$$

Poner los resultados en una tabla cuyas filas correspondan a la cantidad de términos utilizados en la aproximación (usar 10, 100, 1000, 10000 y 100000 términos) y en las columnas el valor de aproximación y el error relativo.

Definir unos límites adecuados $a_1$, $b_1$, $a_2$ y $b_2$, para la región $R=\left[a_1,b_1\right]\times\left[a_2,b_2\right]$